<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartwash.mapper.OrdersMapper">
    <update id="updateOrderStatus">
        update orders
        set status = #{status}
        where order_id = #{orderId};
    </update>
    <update id="setPickupCode">
        update orders
        set  pickup_code = #{pickupCode},
             user_coupon_id = #{couponId}
        where order_id = #{orderId};
    </update>
    <update id="nextStatus" parameterType="com.smartwash.entity.Orders">
        update orders
        set pickup_code = null,
            locker_id   = null,
            status      = #{status}
        where order_id = #{orderId};
    </update>

    <select id="getOrderByOrderNo" resultType="com.smartwash.entity.Orders" parameterType="java.lang.String">
        select order_id, order_no, user_id, school_id, locker_id, laundry_items_id,
               user_coupon_id, total_price, pay_price, status, pickup_code, created_at, updated_at
        from orders
        where order_no = #{orderNo};
    </select>

    <sql id="orderDetailJoins">
        FROM orders o
        JOIN users u ON o.user_id = u.user_id
        JOIN schools s ON o.school_id = s.school_id
        LEFT JOIN lockers l ON o.locker_id = l.locker_id
        LEFT JOIN laundry_items lp ON o.laundry_items_id = lp.item_id
    </sql>

    <select id="searchOrders" resultType="com.smartwash.vo.order.OrdersVo">
        SELECT
        o.order_id AS orderId,
        u.user_id AS "userVo.userId",
        u.phone_number AS "userVo.phoneNumber",
        u.student_id AS "userVo.studentId",
        u.campus_card AS "userVo.campusCard",
        u.balance AS "userVo.balance",
        s.school_id AS "schoolsVo.schoolId",
        s.school_name AS "schoolsVo.schoolName",
        s.location AS "schoolsVo.location",
        l.locker_id AS "lockersVo.lockerId",
        l.locker_number AS "lockersVo.lockerNumber",
        l.status AS "lockersVo.lockerStatus",
        lp.item_id AS "laundryPackageVo.itemId",
        lp.item_name AS "laundryPackageVo.itemName",
        lp.base_price AS "laundryPackageVo.basePrice",
        lp.description AS "laundryPackageVo.description",
        o.order_no AS orderNo,
        o.total_price AS totalPrice,
        o.pay_price as payPrice,
        o.created_at AS createdAt,
        o.updated_at AS updatedAt,
        o.status AS status,
        o.pickup_code AS pickupCode
        <include refid="orderDetailJoins"/>
        <where>
            <if test="searchForm.userId != null">
                AND o.user_id = #{searchForm.userId}
            </if>
            <if test="searchForm.phoneNumber != null and searchForm.phoneNumber != ''">
                AND u.phone_number = #{searchForm.phoneNumber}
            </if>
            <if test="searchForm.schoolName != null and searchForm.schoolName != ''">
                AND s.school_name LIKE CONCAT('%', #{searchForm.schoolName}, '%')
            </if>
            <if test="searchForm.orderNo != null and searchForm.orderNo != ''">
                AND o.order_no LIKE CONCAT('%', #{searchForm.orderNo}, '%')
            </if>
            <if test="searchForm.laundryItemsId != null">
                AND o.laundry_items_id = #{searchForm.laundryItemsId}
            </if>
            <if test="searchForm.startTime != null">
                AND o.created_at &gt;= #{searchForm.startTime}
            </if>
            <if test="searchForm.endTime != null">
                AND o.created_at &lt;= #{searchForm.endTime}
            </if>
            <if test="searchForm.status != null and searchForm.status != ''">
                AND o.status = #{searchForm.status}
            </if>
        </where>
    </select>
    <select id="getOrderByOrderId" resultType="com.smartwash.vo.order.OrdersVo" parameterType="java.lang.Long">
        SELECT o.order_id      AS orderId,
               u.user_id       AS "userVo.userId",
               u.phone_number  AS "userVo.phoneNumber",
               u.student_id    AS "userVo.studentId",
               u.campus_card   AS "userVo.campusCard",
               u.balance       AS "userVo.balance",
               s.school_id     AS "schoolsVo.schoolId",
               s.school_name   AS "schoolsVo.schoolName",
               s.location      AS "schoolsVo.location",
               l.locker_id     AS "lockersVo.lockerId",
               l.locker_number AS "lockersVo.lockerNumber",
               l.status        AS "lockersVo.lockerStatus",
               lp.item_id      AS "laundryPackageVo.itemId",
               lp.item_name    AS "laundryPackageVo.itemName",
               lp.base_price   AS "laundryPackageVo.basePrice",
               o.order_no      AS orderNo,
               o.total_price   AS totalPrice,
               o.pay_price as payPrice,
               o.created_at    AS createdAt,
               o.updated_at    AS updatedAt,
               o.status        AS status,
               o.pickup_code   AS pickupCode
        <include refid="orderDetailJoins"/>
        where order_id = #{orderId}
        order by updated_at desc
    </select>
    <select id="getOrderList" resultType="com.smartwash.vo.order.ShowOrderVo">
        SELECT o.order_id AS orderId,
        s.school_id AS "schoolsVo.schoolId",
        s.school_name AS "schoolsVo.schoolName",
        s.location AS "schoolsVo.location",
        l.locker_id AS "lockersVo.lockerId",
        l.locker_number AS "lockersVo.lockerNumber",
        l.status AS "lockersVo.lockerStatus",
        lp.item_id AS "laundryPackageVo.itemId",
        lp.item_name AS "laundryPackageVo.itemName",
        lp.base_price AS "laundryPackageVo.basePrice",
        o.order_no AS orderNo,
        o.total_price AS totalPrice,
        o.pay_price as payPrice,
        o.created_at AS createdAt,
        o.updated_at AS updatedAt,
        o.status AS status,
        o.pickup_code AS pickupCode
        FROM orders o
        JOIN schools s ON o.school_id = s.school_id
        LEFT JOIN lockers l ON o.locker_id = l.locker_id
        LEFT JOIN laundry_items lp ON o.laundry_items_id = lp.item_id
        where user_id = #{userId}
        <if test="status != null">
            and o.status = #{status}
        </if>
        order by updated_at desc
    </select>

</mapper>
