<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartwash.mapper.UsersMapper">
    <update id="addUserBalance">
        update users
        set balance = balance + #{balance}
        where user_id = #{userId};
    </update>
    <update id="decrUserBalance">
        update users
        set balance = balance - #{amount}
        where user_id = #{userId};
    </update>

    <select id="getUsersByPhoneNumber" resultType="com.smartwash.entity.Users"
            parameterType="java.lang.String">
        select user_id, phone_number, password, school_id, student_id, campus_card, balance, created_at
        from users
        where phone_number LIKE CONCAT('%', #{phoneNumber}, '%')
    </select>
    <select id="getUserByPhoneNumber" resultType="com.smartwash.entity.Users" parameterType="java.lang.String">
        select user_id, phone_number, password, school_id, student_id, campus_card, balance, created_at from users where phone_number = #{phoneNumber}
    </select>
</mapper>
